body {
  width: 800px;
  margin: auto;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

img {
  display: block;
  margin: auto;
}

.CodeMirror {
  border: 1px solid #CCCCCC;
}

code {
  white-space: pre;
}

textarea {
  display: block;
  width: 500px;
  height: 300px;
}

.tree {
  font-family: "Times New Roman", serif;
}

.tree-test-search-1 {
  font-family: "Times New Roman", serif;
}

.tree-test-search-2 {
  font-family: "Times New Roman", serif;
}

.tree-bg {
  position: absolute;
  z-index: -1;
}

.tree > .node {
  width: 100%;
}

.node {
  text-align: center;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.leaf {
  width: 45%;
  display: inline-block;
}

.data {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: table;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 10px auto;
}

.current > .data {
  color: red;
}

.value-for-comparison {
  color: blue;
}

nav li
{
  display: inline-block;
}

button 
{
 display:inline-block;
 padding: 0.7em 1.7em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:600;
 color:#FFFFFF;
 background-color:#3369ff;
 box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
 text-align:center;
 position:relative;
}

.run {
  background-color:#fc0000;
  box-shadow:none;
  border-radius:0em;
}

.next {
  background-color:#000000;
  box-shadow:none;
  border-radius:0em;
}

.synth {
  background-color:#118d21;
  box-shadow:none;
  border-radius:0em;
}
