/* General */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 800px;
  margin: auto;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  padding-bottom: 30px;
}

code {
  white-space: pre;
}

img {
  display: block;
  margin: auto;
}

button {
  background: #AAAAFF;
  border: none;
  outline: 0;
  border-bottom: 2px solid #8888FF;
  border-radius: 5px;

  padding: 10px;

  font-size: 0.8em;
  font-weight: bold;

  cursor: pointer;
}

button span {
  font-weight: normal;
  display: block;
}

.CodeMirror {
  border: 1px solid #CCCCCC;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Experimental groups */

#control .hide-control {
  display: none !important;
}

#half .hide-half {
  display: none !important;
}

#full .hide-full {
  display: none !important;
}

/* Trees */

.tree {
  font-family: "Times New Roman", serif;
}

.tree-bg {
  position: absolute;
  z-index: -1;
}

.tree > .node {
  width: 100%;
}

.node {
  text-align: center;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.leaf {
  width: 45%;
  display: inline-block;
}

.data {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  margin: 10px auto;
  text-align: center;
}

.current > .data {
  color: red;
}

.value-for-comparison {
  color: blue;
}

/* Demonstration UI */

.task {
  border: 1px solid #b42022;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.task b {
  color: #b42022;
}

.search-val,
.insert-val {
  font-weight: bold;
  color: #b42022;
}

nav {
  padding: 0 10px;
}

nav ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  height: 80px;
  padding: 3px;

  border: 1px solid #AAAAFF;
  border-radius: 5px;
}

nav li {
  list-style-type: none;
  flex-grow: 1;
  padding: 5px;
}

nav button {
  width: 100%;
  height: 100%;
}

.run {
  background-color: #27c650;
  border-bottom-color: #4ba663;
}

.next-tree {
  background-color: #27c650;
  border-bottom-color: #4ba663;
}

.synthesize {
  background-color: #27c650;
  border-bottom-color: #4ba663;
}

.reset {
  background-color: #b42022;
  border-bottom-color: #6c0c0d;
  color: #FFFFFF;
}

/* Input-output table */

.io {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.io h3 {
  font-size: 1em;
}

.io .log {
  text-align: left;
  padding: 0 10px;
}

.io .log p {
  margin-left: 10px;
}

.io td {
  border: 1px solid black;
  position: relative;
}

.io td:first-child {
  width: 370px;
}

.io td:last-child {
  width: 370px;
}

.io td > div {
  width: 100%;
}

.io .tree-bg {
  left: 0;
}

